<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <main style="padding: 10px;">
        <div style="text-align: center; width: 500px;" class="card mb-4 rounded-3 shadow-sm">
            <div class="col">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">Vantagens de se tornar sócio</h2>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> Planos de até $34 - $549<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>- Prioridade e Descontos em Ingressos</li>
                            <li>- Rede de Descontos (Rede de Parcerias)</li>
                            <li>- Participação Política</li>
                            <li>- Experiências Exclusivas</li>
                            <li>- App Grêmio e Facilidades Digitais</li>
                        </ul> <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        <a href="https://app1.socio.gremio.net/" class="nav-item nav-link">Quero ser sócio</a>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>