<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Criar Usuário</title>
</head>
<body>

    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Criar Conta</h1> 
                <a type="button" href="login.html" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body p-5 pt-0">
                <form action="/Model/novo-usuario.php"  method="post">
                    <div class="form-floating mb-3"> 
                        <input type="email" name="usuario_email" class="form-control rounded-3" id="floatingInput"
                        minlength="5"
                        placeholder="name@example.com" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required> 

                        <label for="floatingInput">Endereço Email@example.com</label> 
                    </div>
                    
                    <div class="form-floating mb-3"> 
                        <input type="password" id="senha" name="usuario_senha" class="form-control rounded-3" 
                        placeholder="Digite sua senha"  minlength="6" pattern=".{6,}" required>

                        <label>Senha</label>

                        <div>
                            <input type="checkbox" id="checkMostrar" onclick="toggleSenha()">
                            <label for="checkMostrar" style="font-size: 14px; cursor: pointer;">
                                Mostrar senha
                            </label>
                        </div>   

                        </button>
                    </div>
                    <script>
                        function toggleSenha() {
                            // Pegamos o input pelo ID
                            const inputSenha = document.getElementById('senha');
                            
                            // Verificamos o tipo atual: se for password, vira text; se for text, vira password
                            if (inputSenha.type === "password") {
                                inputSenha.type = "text";
                            } else {
                                inputSenha.type = "password";
                            }
                        }
                    </script>
                    <input style="width: 100%; background-color: rgb(38, 120, 228); border-color: skyblue;" 
                    type="submit" value = "Continuar">

                    <small class="text-body-secondary">Ao criar uma conta você concordará com os termos de uso.</small>
                    <hr class="my-4">                     
                </form>
            </div>
        </div>
    </div>
</body>
</html>