<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <title>Document</title>
</head>

<body>

    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Login</h1> 
                <a type="button" href="../index.php" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body p-5 pt-0">
                <form action="../Model/novo-usuario.php"  method="post">

                        <input type="email" name="usuario_email" class="form-control rounded-3" id="floatingInput"
                        placeholder="name@example.com" requered minlength="1">

                        <hr style="color: white;">
                        
                        <input type="password" name="usuario_senha" id="senha" class="form-control rounded-3" 
                        placeholder="Digite sua senha" requered>

                        <div>
                            <input type="checkbox" id="checkMostrar" onclick="toggleSenha()">
                            <label for="checkMostrar" style="font-size: 14px; cursor: pointer;">
                                Mostrar senha
                            </label>
                        </div>
                        


                        </button>
                    <script>
                        function toggleSenha() {
                            // Pegamos o input pelo ID
                            const inputSenha = document.getElementById('senha');
                            
                            // Verificamos o tipo atual: se for password, vira text; se for text, vira password
                            if (inputSenha.type === "password") {
                                inputSenha.type = "text";
                            } else {
                                inputSenha.type = "password";
                            }
                        }
                    </script>

                    <div style="text-align: center; padding: 20px; width: 100%" class="container">
                        <input style="width: 100%; background-color: rgb(38, 120, 228); border-color: skyblue;" 
                        type="submit" value = "Entrar">
                    </div>

                    <div style="text-align: center; padding: 10px;" class="container">
                        <a style="width: 100%; background-color: rgb(38, 120, 228); border-color: skyblue;">ss</a>
                    </div>

                    <small class="text-body-secondary">Ao clicar entrar você concordará com os termos de uso.</small>
                </form>
            </div>
        </div>
    </div>

</body>

</html>


