<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <title>Nova Contratação</title>
</head>
<body>
    <header>

        <div>
            <img style="width: 200px;" src="../img/gremio logo.svg">
        </div>
                   
        <nav>
            <a href="/index.php">Home</a>
            <a href="/View/contratacoes.php">Contratações</a>
            <a href="/View/nova-contratacao.html">Novo Contratação</a>
            <a href="/View/gerenciar-contratacao.php">Gerenciar Contratações</a>
        </nav>     
    </header>
    <h2 style="text-align: center;">Novo Contratação</h2>
    <form action="nova-contratacao.php"  method="post">

        <label>Nome:</label>
        <input type="text" style="width: 100%;" name="contratacao_nome" pattern="[A-Z-a-z]+" required>

        <label>Posição:</label>
        <input type="text" style="width: 100%;" name="contratacao_posicao"  minlength="2" maxlength="3" required>

        <label>Ex time:</label>
        <input type="text" style="width: 100%;" name="contratacao_time" pattern="[A-Z-a-z]+" required>

        <label>Idade:</label>
        <input type="number" style="width: 100%;" name="contratacao_idade" minlength="1"  maxlength="2" required>

        <label>Nacionalidade:</label>
        <input type="text" style="width: 100%;" name="contratacao_nacionalidade" pattern="[A-Z-a-z]+" required>

        <label>Valor:</label>
        <input type="number" style="width: 100%;" name="contratacao_valor" required>

        <label>Img:</label>
        <input type="text" style="width: 100%;" name="contratacao_img">
        
        <input style="width: 100%;" type="submit" value = "Criar linha">
    </form>
</body>
</html>