<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <title>Novo Post</title>
    
</head>
<body>
    <header>

        <div>
            <img style="width: 200px;" src="../img/gremio logo.svg">
        </div>
        <nav>
            <a href="../index.php">Home</a>
            <a href="posts.php">Posts</a>
            <a href="novo-post.html">Novo Post</a>
            <a href="gerenciar-post.php">Gerenciar Posts</a>
        </nav>

    </header>
    
    <h2 style="text-align: center;">Novo Post</h2>
    <form action="novo-post.php" method="post">
        
        <label>Título:</label>
        <input type="text" style="width: 100%;" name="post_titulo" maxlength="15" required>

        <label>Resumo:</label>
        <textarea type="text" name="post_resumo" required></textarea>

        <label>Texto:</label>
        <textarea type="text" name="post_texto" required></textarea>

        <label>Autor:</label>
        <input type="text" style="width: 100%;" name="post_autor" pattern="[A-Z-a-z]+" required>

        <label>Data:</label>
        <input type="date" style="width: 100%;" name="post_data" maxlength="6" required>

        <label>Img:</label>
        <input style="width: 100%;" name="post_img">

        <input style="width: 100%;" type="submit" value = "Criar linha">
    </form>
</body>
</html>