<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <title>Novo Troféu</title>
</head>
<body>
    <header>

        <div>
            <img style="width: 200px;" src="../img/gremio logo.svg">
        </div>
        <nav>
            <a href="../index.php">Home</a>
            <a href="trofeus.php">Troféus</a>
            <a href="novo-trofeu.html">Novo Troféu</a>
            <a href="gerenciar-trofeu.php">Gerenciar Troféus</a>
        </nav>
    </header>
    <h2 style="text-align: center;">Novo Troféu</h2>
    <form action="novo-trofeu.php" method="post">
        
        <label>Nome:</label>
        <input type="text" style="width: 100%;" name="trofeu_nome" pattern="[A-Z]+" required>

        <label>Quantidade:</label>
        <input type="number" style="width: 100%;" name="trofeu_quantidade" required>
        
        <label>Ultimo ano conquistado:</label>
        <input type="number" style="width: 100%;" name="trofeu_ultimo"  maxlength="4" required>

        <label>Img:</label>
        <input style="width: 100%;" name="trofeu_img">

        <input style="width: 100%;" type="submit" value = "Criar linha">
    </form>
</body>
</html>