<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <title>Novo Jogador</title>
</head>
<body>
    <header>
        
        <div>
            <img style="width: 200px;" src="../img/gremio logo.svg">
        </div>

        <nav>
            <a href="../index.php">Home</a>
            <a href="jogador.php">Jogadores</a>
            <a href="novo-jogador.html">Novo Jogador</a>
            <a href="gerenciar-jogador.php">Gerenciar Jogador</a>
        </nav> 
    </header>
    <h2 style="text-align: center;">Novo Jogador</h2>
    <form action="../Model/novo-jogador.php" method="post">
        
        <label>Nome:</label>
        <input type="text" style="width: 100%;" name="jogador_nome" pattern="[A-Z-a-z]+" required>

        <label>Posição:</label>
        <input type="text" style="width: 100%;" name="jogador_posicao" pattern="[A-Z]+"  minlength="2"  maxlength="3" required> 

        <label>Idade:</label>
        <input type="number" style="width: 100%;" name="jogador_idade" minlength="2"   maxlength="2" required>

        <label>Camisa:</label>
        <input type="number" style="width: 100%;" name="jogador_camisa"  minlength="2"  maxlength="3" required>

        <label>Nacionalidade:</label>
        <input type="text" style="width: 100%;" name="jogador_nacionalidade" pattern="[A-Z-a-z]+" required>

        <label>Img:</label>
        <input style="width: 100%;" name="jogador_img">

        <input style="width: 100%;" type="submit" value = "Criar linha">
    </form>
</body>
</html>